<%= render 'posts/shared/header' %>
<%= link_to "Log out", destroy_user_session_path, data: { turbo_method: :delete } %>

<div>
    <%= form_with model: @profile do |f| %>
        <div>
            <%= f.label :location %><br>
            <%= f.text_field :location%>
        </div>
        <div>
            <%= f.label :date_of_birth %><br>
            <%= f.date_field :date_of_birth%>
        </div>
        <div>
            <p>Errors</p>
            <%= @profile.errors.full_messages %>
        </div>
        <%= f.submit %>
    <% end %>
</div>