<%= render 'posts/shared/header' %>

<%= link_to "Users", users_path %>
<h2>About</h2>
<ul>
    <li><%= image_tag @profile.pfp %></li>
    <li>Username: <%= current_user.username %></li>
    <li>Email: <%= current_user.email %></li>
    <li>Location: <%= @profile.location %></li>
    <li>Date joined: <%= format_date(current_user.created_at) %></li>
    <li>Followers: <%= current_user.followers.count %></li>
    <li>Followings: <%= current_user.followings.count %></li>
    <li>Number of post: <%= current_user.posts.count %></li>
</ul>

<h2>Posts</h2>
<% current_user.posts.each do |post| %>
    <%= link_to post do %>
        <div class="post-wrapper">
            <div class="about-post">
                <ul class="about-user">
                    <li><%= image_tag avatar_url_for(current_user, size: 24) %></li>
                    <li><%= post.author.username %></li>
                </ul>
                <div class="post time">
                    <%= post.created_at %>
                </div>
                <div>
                    <% if post.author != current_user && !post.author.followers.include?(current_user)%>
                        <%= button_to "Follow", user_followings_path, params: { following_id: post.author.id } %>
                    <% end %>
                </div>
            </div>
            <div class="content">
                <%= post.content %>
            </div>
            <ul class="post-footer">
                <li><%= button_to "Likes: #{post.likes}", like_post_path(post), method: :patch %></li>
            </ul>
        </div>
    <% end %>
<% end %>