<%= render 'posts/shared/header' %>
<h2>Users</h2>

<ul>
    <% @users.each do |user| %>
        <li class="grid grid-cols-2 mb-4 border-b users-list">
            <span><%= user.username %></span>
            <span class="col-start-2 col-end-3">
                <% if current_user.followings.include?(user) %>
                    <%= button_to "Unfollow", user_following_path(user), method: :delete, data: { turbo_confirm: "You will unfollow #{user.username}" }, class:"follow-btn" %>
                <% else %>
                    <%= button_to "Follow", user_followings_path, params: { following_id: user.id}, class:"follow-btn" %>
                <% end %>
            </span>
        </li>
    <% end %>
</ul>

<h3>Pending</h3>
<ul>
    <% @pending_followers.each do |pending_follower| %>
        <li class="grid grid-cols-2 mb-4">
            <span><%= pending_follower.username %></span>
            <div class="flex gap-1">
                <span><%= button_to "Accept", user_following_path(pending_follower), method: :patch, params: { follower_id: pending_follower.id }, class:"follow-btn" %></span>
                <span><%= button_to "Reject", user_following_path(pending_follower), method: :delete, data: { turbo_confirm: 'Are you sure?' }, class:"follow-btn" %></span>
            </div>
        </li>
    <% end %>
</ul>
<h3>Suggestions</h3>
<ul>
    <% @pending_followers.each do |pending| %>
        
    <% end %>
</ul>
<h3>Followings</h3>
<ul>
    <% @followings.each do |following| %>
        <li class="grid grid-cols-2 mb-4 users-list">
            <span><%= following.username %></span>
            <span><%= button_to "Unfollow", user_following_path(following), method: :delete, data: { turbo_confirm: 'Are you sure?' }, class:"follow-btn" %></span>
        </li>
    <% end %>
</ul>
<h3>Followers</h3>
<ul>
    <% @followers.each do |follower| %>
        <li><%= follower.username %></li>
    <% end %>
</ul>