<div class="container">
    <%= render "posts/shared/header"%>
    <% @posts.each do |post| %>
        <div class="post-wrapper">
            <div class="about-post">
                <ul class="about-author">
                    <li class="author-pfp"><%= image_tag avatar_url_for(current_user, size: 24) %></li>
                    <ul>
                        <li class="author-name"><%= post.author.username %></li>
                        <li class="author-email"><span class="center-dot">&centerdot;</span> <%= post.author.email %></li>
                    </ul>
                </ul>
                <div class="post-age">
                    <span class="center-dot">&centerdot;</span> <%= post_duration(post.created_at) %>
                </div>
                <div>
                    <% if post.author != current_user && !post.author.followers.include?(current_user)%>
                        <%= button_to "Follow", user_followings_path, params: { following_id: post.author.id }, class: "follow-btn" %>
                    <% end %>
                </div>
            </div>
            <%= link_to post do %>
                <div class="post-content">
                    <%= post.content %>
                </div>
            <% end %>
            <ul class="post-footer">
                <li>
                    <%= render partial: "posts/shared/unliked", locals: { post: post } unless post.likers.include?(current_user) %>
                    <%= render partial: "posts/shared/liked", locals: { post: post } if post.likers.include?(current_user) %>
                </li>
            </ul>
        </div>
    <% end %>
</div>